<ion-view title="Event Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
       <div class="list card">

          <div class="item item-avatar">
            <img ng-src='{{event.eventImagePath}}' width="40%" height="auto">
            <h4>{{event.name}}</h4>
            <p>{{event.date}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" ng-src='{{event.eventImagePath}}'>
            <p>
                {{event.description}}
            </p>
            <p class="subdued">
                {{event.duration}}
            </p>
          </div>

    </div>
        
        <ion-list>
            <ion-item class="item-divider">Purohits available for this event</ion-item>
        </ion-list>
        <ion-list ng-repeat='person in event.purohits'>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.purohitName">
                <img>
                <h4>{{person}}</h4>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>