<ion-view title="Event Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>Ganesh Chaturthi</h4>
        <div style="text-align:left;">
            <img src="img/A62Ob3BSladvDBQIIen9_ganesh-chaturthi.jpg" width="40%" height="auto">
        </div>
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Chaturthi details</div>
            <div class="item item-body"></div>
            <div class="item item-divider">duration, items required..</div>
        </div>
        <ion-list>
            <ion-item class="item-divider">Purohits available for this event</ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.purohitName">
                <img>
                <h2>Mahesh Sharma</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.purohitName">
                <img>
                <h2>Srinivas Shastri</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>