<ion-view title="Search Purohits">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input item-dark">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search for purohits">
            </label>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.purohitName({id:value._id})" ng-repeat='(key, value) in purohits' >
               <!--ng-click='viewPurohitData(value._id)'-->
                {{value._id}} - {{$index}}
                <img>
                <h2>{{value.name}}</h2>
                <p>{{value.age}}</p>
                <p>{{value._id}}</p>
            </ion-item>
            <!--<ion-item class="item-thumbnail-left" ui-sref="tabsController.purohitName">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>-->
        </form>
    </ion-content>
</ion-view>