<ion-view title="Upcoming Events">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Upcoming Pooja events</h3>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.eventDetails({id:event._id})" ng-repeat='event in events'>
                <img ng-src='{{event.eventImagePath}}'>
                <h2>{{event.name}}</h2>
                <p>{{event.date}}</p>
                <p>{{event.duration}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>