<ion-view title="Upcoming Events">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Upcoming Pooja events</h3>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.eventDetails">
                <img>
                <h2>Ganesha Chaturthi Pooja</h2>
                <p>Mahesh Sharma - 17 Sep 2016</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.eventDetails">
                <img>
                <h2>Satyanarayana Pooja</h2>
                <p>Mahesh Sharma</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>